body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#drop-zone {
  border: 2px dashed #aaa;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}

#chat-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 20px;
  max-width: 600px;
  margin: 0 auto;
  overflow-y: auto;
  max-height: 800px;
}

.chat-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.sender-name {
  font-weight: bold;
  color: #0074d9
}

.message-text {
  margin-top: 5px;
}

.emoji-container {
  margin-top: 10px;
}

.emoji {
  display: inline-block;
  font-size: 20px; /* Adjust as needed */
  margin-right: 5px; /* Spacing between emojis */
}
