body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#drop-zone {
  border: 2px dashed #aaa;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}

#chat-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 20px;
  max-width: 600px;
  margin: 0 auto;
  overflow-y: auto;
  max-height: 800px;
}

.chat-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.sender-name {
  font-weight: bold;
  color: #0074d9
}

.message-text {
  margin-top: 5px;
}

.emoji-container {
  margin-top: 10px;
  white-space: nowrap; /* Prevent emojis from breaking to a new line */
}

.emoji {
  display: inline-block;
  font-size: 20px; /* Adjust as needed */
  margin-right: 5px; /* Spacing between emojis */
  position: relative; /* Required for the tooltip to work */
}

.emoji::after {
  content: attr(data-reaction-name); /* Display the reaction name */
  position: absolute;
  bottom: 100%;
  left: 50%; /* Center the tooltip relative to the emoji */
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0; /* Initially hide the tooltip */
  pointer-events: none;  /* Allow interaction with the underlying emoji */
  transition: opacity 0.3s;
}

.emoji:hover::after {
  opacity: 1; /* Show the tooltip on hover */
}

.reply-message {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px 10px;
  max-width: 70%; /* Adjust the maximum width as needed */
}

.reply-sender {
  width: 80px; /* Set a fixed width for sender name container */
  font-weight: bold;
  color: #5599d4; /* Adjust the color as needed */
  text-align: left; /* Align sender name text to the left */
}

.reply-text {
  flex: 1; /* Allow message to take remaining space */
  text-align: left; /* Align message text to the left */
}